@import "../helium/helium";

@mixin helium-custom {
  @include helium;

    /* Basic */
  --primary-color: #3662BA;
  --primary-color_rgb: 54, 98, 186;

    /* Common */
  --primary-color-shade-1: #3057A6;
  --primary-color-shade-2: #2A4D92;
  --primary-dim-color: #698CD3;
}