<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="selection_committee" transaction-type="RESOURCE_LOCAL">

        <class>com.company.untitled.person.Worker</class>
        <class>com.company.untitled.college.Department</class>
        <class>com.company.untitled.college.Specialty</class>
        <class>com.company.untitled.progress.IndividualProgress</class>
        <class>com.company.untitled.progress.Subject</class>
        <class>com.company.untitled.progress.RatingList</class>
        <class>com.company.untitled.progress.Certificate</class>
        <class>com.company.untitled.Applicants</class>
    </persistence-unit>
</persistence>
